[Unit]
Description=DD2 Server
After=network.target

[Service]
ExecStart=/root/plugin-server/run.sh
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
